@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body{
    background-color: rgb(196, 193, 193);
}

.dashboard{
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
}

.sidebar{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:dodgerblue;
    padding: 0.8em;
    color: #fff;
    font-size: 1.2em;
    display: grid;
    gap: 50px;
    height: 100vh;
}

.first-sidebar{
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 900;
}

ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    margin: 0.8em;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #eee;
    margin: auto;
}

.header{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #fff;
    height: 20vh;
    padding: .6em 0;
    color: #202020;
}

.search-bar, .profile, .notification, .links ul, .pp{
    display: flex;
    align-items: center;
}

.search-bar, .profile{
    justify-content: space-between;
}

.search{
    display: grid;
    grid-template-columns: 25px 3fr;
    width: clamp(15px, 100%, 70%);
    align-items: center;
    cursor: pointer;
}

.search input{
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 20px;
    padding: 5px 12px;
    color: #111;
    font-size: 1rem;
}

.notification, .pp{
    gap: 8px;
}

.notification{
    padding-right: 1.5em;
}

.search, .pp{
    padding-left: 1.5em;
}

#pp-img{
    border-radius: 50%;
    object-fit: cover;
}

.notification p, .pp-name{
    font-weight: bold;
}

.pp-greet{
    font-size: 0.8em;
    padding-bottom: 3px;
}

.links ul li{
    background-color: dodgerblue;
    border-radius: 15px;
    width: 70px;
    height: 30px;
}

