@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body{
    background-color: rgb(196, 193, 193);
}

.dashboard{
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
}

.sidebar{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:dodgerblue;
    padding: 0.8em;
    color: #fff;
    font-size: 1.2em;
    display: grid;
    gap: 50px;
    height: 100vh;
}

.first-sidebar{
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 900;
}

ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    margin: 0.8em;
    cursor: pointer;
}

.header{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #fff;
    height: 15vh;
}